body {
  --light-blue-color: #50CAFF;
  --dark-blue-color: #003B72;
  --active-color: #7761FF;
}

.Header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  color: #fff;
}

.Logo {
  margin: 20px 0 0 20px;
}

.Header-Logo {
  min-width: 190px;
  width: 190px;
  text-align: left;
  height: 100%;
  background-color: var(--dark-blue-color);

}

.Header-Main {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 190px);
  height: 100%;
  background-color: var(--light-blue-color);

}

.Title {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000
}

.Header-Title {
  margin-left: 20px;
  color: #fff;
}

.Menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  margin-right: 40px;
}

.Menu-Icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
}

.Search-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/search.svg) no-repeat center;
  mask: url(./IMG/search.svg) no-repeat center;
}

.Bell-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/bell.svg) no-repeat center;
  mask: url(./IMG/bell.svg) no-repeat center;
}

.Eye-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/eye.svg) no-repeat center;
  mask: url(./IMG/eye.svg) no-repeat center;
}

.Profile-Miniature {
  display: inline-flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 72px;
}

.Avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.Profile-Avatar {
  width: 45px;
  height: 45px;
  padding: 1px;
  border: solid #fff 1px;

}

.Dropdown-Button {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.Dropdown-Button::before {
  content: '';
  top: 8px;
  left: 7.2px;
  transform: rotate(-30deg);
  position: absolute;
  background-color: var(--light-blue-color);
  height: 1.3px;
  width: 5px;
  border-radius: 1px;
  transition: 0.3s;
}

.Dropdown-Button::after {
  content: '';
  top: 8px;
  right: 7.2px;
  transform: rotate(30deg);
  position: absolute;
  background-color: var(--light-blue-color);
  height: 1.3px;
  width: 5px;
  border-radius: 1px;
  transition: 0.3s;
}

.Dropdown-Button.Active::after {
  transform: rotate(-30deg)
}

.Dropdown-Button.Active::before {
  transform: rotate(30deg)
}
.Dropdown-Menu{
  position: absolute;
  bottom:-210px;
  left: -100px;
  width: 150px;
  height: 170px;
  background-color: var(--dark-blue-color);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px 0 10px 0;
  z-index: -5;
}
.Dropdown-Menu-Item{
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dropdown-Menu-Item:active{
  background-color: #fff;
  color: var(--active-color);

}
.Active {
  opacity: 1;
  z-index: 1;
}

.Main {
  display: inline-flex;
  height: calc(100vh - 55px);
  width: 100%;
}

.Navigation {
  width: 190px;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-blue-color);
}

.Sections {
  display: flex;
  flex-direction: column;

}

.Section {
  height: 46px;
  width: 187px;
  color: #fff;
  display: inline-flex;
  font-size: 14px;
  margin-bottom: 10px;
  align-items: center;
  border-left: var(--dark-blue-color) solid 3px;
}

.active {
  background-color: #fff;
  color: var(--active-color);
  border-left: var(--active-color) solid 3px;
}

.active .Section-Icon {
  background-color: var(--active-color);
}


.Section-Icon {
  margin-left: 20px;
  width: 18px;
  height: 18px;
}

.Section-Name {
  margin-left: 14px;
}

.Profile-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/profile.svg) no-repeat center;
  mask: url(./IMG/profile.svg) no-repeat center;
}

.Doctors-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/doctors.svg) no-repeat center;
  mask: url(./IMG/doctors.svg) no-repeat center;
}

.Message-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/message.svg) no-repeat center;
  mask: url(./IMG/message.svg) no-repeat center;
}

.Tests-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/tests.svg) no-repeat center;
  mask: url(./IMG/tests.svg) no-repeat center;
}

.Helpful-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/helpful.svg) no-repeat center;
  mask: url(./IMG/helpful.svg) no-repeat center;
}

.Help-Icon {
  background-color: #fff;
  -webkit-mask: url(./IMG/help.svg) no-repeat center;
  mask: url(./IMG/help.svg) no-repeat center;
}

.Button {
  background-color: var(--active-color);
  height: 40px;
  width: 98px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.95;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.Button-Navigation {
  width: 150px;
  margin-left: 20px;
}

.Button:hover {
  opacity: 1;
}
.Button:active{
  background-color: #fff;
  color: var(--active-color);
}

.AppVelox {
  width: 113.32px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.ProfileSection {
  margin: 15px 60px 0 20px;
  width: 100%;
  
}

.Topic {
  margin: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.MedicalRecords-Preview {
  display: inline-flex;

  align-items: center;
  width: 100%;
}

.Records-Preview {
  display: inline-flex;
  margin: 15px 0 20px 0;
  align-items: center;
  width: 1000px;
  justify-content: center;
}

.Record {
  width: 435px;
  height: 134px;
  margin: 0 20px 15px 0;
  padding: 20px;
  box-shadow: 0px 0px 5px #EBE7FF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.RecordNone{
  justify-content: center;
  align-items: center;
}

.RecordDate {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.Address {
  margin-bottom: 10px;
  width: 280px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.RecordInfo {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.Doctor {
  width: fit-content;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.DoctorName {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.DoctorDepartament {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EBE7FF;
}

.Doctor-Avatar {
  margin: 0 10px 0 0;
  width: 60px;
  height: 60px;
}

.More {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  
}

.LinkDecoration {
  color: var(--light-blue-color);
  text-decoration: underline;
  cursor: pointer;
}

.LinkDecoration:active {
  color: var(--active-color);
}

.ElectroningCard {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  gap: 15px;
  grid-auto-rows: 183px;
  margin-top: 15px;

}

.Card {
  border-radius: 5px;
  box-shadow: 0px 0px 5px #EBE7FF;
  display: inline-flex;
  border: #fff solid 2px;
}

.Card-Icons {
  width: 131px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-Icon {
  width: 50px;
  height: 50px;
}

.IconReport {
  background-color: #EBE7FF;
  -webkit-mask: url(./IMG/report.svg) no-repeat center;
  mask: url(./IMG/report.svg) no-repeat center;
}

.IconLab {
  background-color: #EBE7FF;
  -webkit-mask: url(./IMG/lab.svg) no-repeat center;
  mask: url(./IMG/lab.svg) no-repeat center;
}

.IconHistory {
  background-color: #EBE7FF;
  -webkit-mask: url(./IMG/clock.svg) no-repeat center;
  mask: url(./IMG/clock.svg) no-repeat center;
}

.IconAdd {
  background-color: #EBE7FF;
  -webkit-mask: url(./IMG/add.svg) no-repeat center;
  mask: url(./IMG/add.svg) no-repeat center;
}

.Card-Info {
  margin: 20px 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 407px;
}

.Line {
  margin: 10px 0 15px 0;
  display: block;
  width: 355px;
  background-color: #EBE7FF;
  height: 2px;
}

.List {
  padding: 0 0 0 15px;
  color: #EBE7FF;
  margin: 0;
}

.BalckFont {
  color: #000;
}

.Card:hover {
  border: var(--light-blue-color) solid 2px;
}

.Card:hover .Card-Icons {
  background-color: var(--light-blue-color);
}

.Card:hover .Line {
  background-color: var(--light-blue-color);
}

.Card:hover .Card-Icon {
  background-color: #fff;
}

.Card:hover .List {
  color: var(--light-blue-color);
}

.MedicalRecords {
  margin: 5px 35px 18px 13px;
  padding: 5px;
  width: 505px;
  height: 646px;
  overflow: scroll;
  scrollbar-color: var(--dark-blue-color) #fff;
  scrollbar-width: 8px;

}

.MedicalRecords::-webkit-scrollbar {
  width: 8px;
}

.MedicalRecords::-webkit-scrollbar-track {
  background-color: #fff;
}

.MedicalRecords::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue-color);
  border-radius: 5px;
}

.My-Applications-Header {
  display: inline-flex;
  margin-left: 0;
}

.Arrow {
  display: flex;
  width: 18px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.7);
  -webkit-mask: url(./IMG/arrow.svg) no-repeat center;
  mask: url(./IMG/arrow.svg) no-repeat center;
  margin: 0 14px 0 40px;
  cursor: pointer;

}

.Arrow:hover {
  background-color: rgb(0, 0, 0);
}

.Arrow:active {
  background-color: var(--active-color);
}

.My-Applications {
  display: flex;
  flex-direction: column;
}

.My-Applications-Main {
  display: inline-flex;
}

.Calendar {
  width: 573px;
  height: 481px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  background-color: #EBE7FF;
  position: relative;
}

.Days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 553px;
  height: 352px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.NameDays {
  height: 37px;
}

.Date {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  padding: 2px;
 
  display: flex;
}

.Date:focus {
  border: var(--light-blue-color) 2px solid;
  padding: 0;
}
.Date:focus .ApplicationCount{
  bottom: 8px;
  right: 8px;
}

.MonthSet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 573px;
  height: 57px;
  background-color: var(--active-color);
  color: #fff;
  border-radius: 5px;
  margin: 14px 0 0 0;
}

.DaysOfWeek {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
}

.Day {
 
  margin: 10px 0 0 14px;
  
}

.ApplicationCount {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: var(--light-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackMonth {
  width: 14px;
  height: 14px;
  background-color: #fff;
  -webkit-mask: url(./IMG/back.svg) no-repeat center;
  mask: url(./IMG/back.svg) no-repeat center;
 cursor: pointer;
}

.NextMonth {
  width: 14px;
  height: 14px;
  background-color: #fff;
  -webkit-mask: url(./IMG/next.svg) no-repeat center;
  mask: url(./IMG/next.svg) no-repeat center;
  cursor: pointer;
}

.Disable {
  background-color: #EBE7FF;
  cursor: default;
}

.ViewAll {
  width: 100%;
  margin-left: 334px;
  margin-bottom: 13px;
}

.MonthYear {
  width: 150px;
  text-align: center;
}
.NotFound{
  width: 100%;
  height: 50%;
  font-size: 36px;
  font-weight: 500;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
}
.SadSmile{
  width: 300px;
  height: 300px;
  background-color: var(--light-blue-color);
  -webkit-mask: url(./IMG/sadSmiley.svg) no-repeat center;
  mask: url(./IMG/sadSmiley.svg) no-repeat center;
  margin-bottom: 50px;
  cursor: pointer;

}